name: Nightly Data File Change

on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
      org-name:
        required: false
        type: string
        default: 51degrees
      user:
        required: false
        type: string
        default: Automation51D
      email:
        required: false
        type: string
        default: "51DCI@51Degrees.com"
    secrets:
      token:
        required: true
      device-detection-key:
        required: true
      device-detection-url:
        required: false
        
jobs:
  nightly-data-file-change:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        
      - name: Checkout reusable workflow dir
        uses: actions/checkout@v3
        with:
          repository: ${{ inputs.org-name }}/common-ci
          path: common
        
      - name: Generate Accessors
        shell: pwsh
        working-directory: ${{ github.workspace }}/common/
        run: |
          . ${{ github.workspace }}/common/nightly-data-file-change.ps1 `
          -GitHubToken ${{ secrets.token }} `
          -RepoName ${{ inputs.repo-name }} `
          -OrgName ${{ inputs.org-name }} `
          -DeviceDetectionKey ${{ secrets.device-detection-key }} `
          -DeviceDetectionUrl ${{ secrets.device-detection-url }} `
          -GitHubUser ${{ inputs.user }} `
          -GitHubEmail ${{ inputs.email }}
